<div id="Header" style="height: 9ex">

    <div id="Logo">
        <div id="LogoContent">
            <a href="/catalog/viewMain"><img src="../../images/logo-topbar.gif" alt="logo-topbar"/></a>
        </div>
    </div>

    <div id="Menu">
        <div id="MenuContent">
            <a href="/cart/viewCart"><img align="middle" name="img_cart" src="../../images/cart.gif"/></a>
            <img align="middle" src="../../images/separator.gif"/>
            <span th:if="${session.isAuthenticated}">
                <a href="/account/signOut">Sign Out</a>
                <img align="middle" src="../../images/separator.gif"/>
                <a href="/account/editAccountForm" th:text="${session.account.username}"></a>
            </span>
            <a th:if="${session.isAuthenticated} != true" href="/account/signonForm">Sign In</a>
            <img align="middle" src="../../images/separator.gif"/> <a href="/help.html">?</a>
        </div>
    </div>

    <div id="Search">
        <div id="SearchContent">
            <form action="/catalog/search" method="get">
                <input type="text" name="keyword" size="14" id="searchText" autocomplete="nope"/>
                <input type="submit" name="searchProducts" value="Search"/>
            </form>
        </div>
    </div>

</div>

<div id="QuickLinks">
    <nav>
        <a href="/catalog/viewCategory?categoryId=FISH">Fish</a>
        <a href="/catalog/viewCategory?categoryId=DOGS">Dogs</a>
        <a href="/catalog/viewCategory?categoryId=REPTILES">Reptiles</a>
        <a href="/catalog/viewCategory?categoryId=CATS">Cats</a>
        <a href="/catalog/viewCategory?categoryId=BIRDS">Birds</a>
        <div class="animation"></div>
    </nav>
</div>