<div id="product_list_shadow" class="hidden fixed top-0 left-0 h-full w-full z-30"></div>

<div id="product_list" class="hidden fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 
    bg-gray-200 shadow-md w-3/4 h-3/4 z-40 flex rounded-xl overflow-hidden">
    <div class="img w-1/3 h-full xl:hidden">
        <img alt="dogs" class="object-cover w-full h-full">
    </div>
    <div class="w-2/3 xl:w-full overflow-y-auto space-y-6 pt-4 list_items scroll-smooth">
        <div class="w-4/5 h-96 my-2 mx-auto flex bg-white bg-opacity-50 rounded-3xl overflow-hidden 
                list_item">
            <div class="product_detail_img inline-block w-1/2 h-full">
                <img class="object-cover w-full h-full" alt="">
            </div>
            <div class="product_detail_desciption w-1/2 h-full flex flex-col px-4 py-8 items-center">
                <p class="name text-3xl xl:text-lg">Lorem.</p>
                <p class="category text-gray-400">Lorem.</p>
                <p class="description mt-24 text-lg text-center">Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="product_detail_shadow" class="hidden fixed top-0 left-0 h-full w-full z-50"></div>
<div id="product_detail" class="hidden fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 
    bg-gray-200 shadow-md w-3/5 h-3/5 z-50 rounded-xl overflow-hidden">
    <div class="w-full h-full mx-auto flex bg-white bg-opacity-50 rounded-3xl overflow-hidden">
        <div class="product_detail_img inline-block w-1/2 h-full">
            <img class="object-cover w-full h-full" alt="">
        </div>
        <div class="product_detail_desciption w-1/2 h-full flex flex-col px-4 py-8 items-center">
            <p class="name text-3xl xl:text-lg">Lorem.</p>
            <p class="category text-gray-400">Lorem.</p>
            <p class="description mt-24 text-lg text-center">Lorem ipsum, dolor sit amet consectetur adipisicing
                elit.
            </p>

            <div class="divide_line w-full h-0.5 mt-16 mb-8 bg-gray-300"></div>
            <div class="flex flex-col justify-between items-center h-48">
                <div id="item_btns" class="flex flex-wrap w-full h-12 px-4 items-center justify-center">
                    <div class="item_btn h-8 ring-2 hover:ring-4 mx-4 my-1 leading-8 rounded-lg px-2 cursor-pointer">
                    </div>
                </div>
                <div id="price">

                </div>
                <div id="add_to_cart_btn" class="h-8 leading-8 bg-blue-600 text-white px-4 rounded-xl hover:ring-2 cursor-pointer">
                    Add To Cart
                </div>
            </div>

        </div>
    </div>
</div>